<div class="row border-bottom mt-2 pb-2">
    
    <div class = "col-10">

        <h4 style="color:rgb(120, 120, 120)">
            {{job['title']}}
        </h4>

        {% if 'salary' in job %}
            <div>
                <b>Salary:</b>{{job['salary']}}
            </div>
        {% endif %}

        <div>
            <b>Location:</b>{{job['location']}}
        </div>

    </div>

    <div class = "col-2 align-self-center">

        <a 
        
            href="mailto:chetan.kumar020@gmail.com?subject=Application%20for%20{{job['title']}}&body=Hi%2C%0D%0A%0D%0AMy%20Name%3A%20%3Cyour%20name%20here%3E%0D%0A%0D%0AMy%20resume%20link%3A%20%3Cadd%20resume%20link%3E%0D%0A%0D%0AMy%20Linkedin%20profile%3A%20%3Cadd%20linkedin%20profile%20link%3E" 
            
            type="button" class="btn btn-outline-primary">

            Apply
            
        </a>

    </div>

</div>

